//it appends a psuedo element after an element and which will clear this floats
@mixin clearfix {
    &::after {
        content: "";//empty because we dont want to see it
        display: table;
        clear: both; //clears both left and right floats
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet Landscape
[1200 -1800] is where ur normal styles apply
1800px + : Big desktop

$breakpoint argumment choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}
    }

    
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content}
    }

    
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content}
    }

    
    @if $breakpoint == big-desktop {
        @media (max-width: 112.5em) {@content}
    }
}